<footer class="ow-footer">
  <div class="ow-container">
    <div class="ow-row">
      <div class="ow-col ow-col--two-thirds">
        <p class="ow-footer__lead">Lorem ipsum dolor sit amet vitae nunc sed dignissisim</p>
      </div>
      <div class="ow-col">
        <h4 class="h5">Navigatie</h4>
        <ul class="ow-footer__menu">
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Home
            </a>
          </li>
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Over ons
            </a>
          </li>
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Doneren
            </a>
          </li>
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Nieuws
            </a>
          </li>
        </ul>
      </div>
      <div class="ow-col">
        <h4 class="h5">Neem contact</h4>
        <ul class="ow-footer__menu">
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Contact
            </a>
          </li>
          <li class="ow-footer__menu-item">
            <a href="" class="ow-footer__menu-link">
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ow-row">
      <small class="ow-footer__end-item">
        <a class="ow-footer__end-link" href="">
          Privacyverklaring
        </a>
      </small>
      <small class="ow-footer__end-item">
        <a class="ow-footer__end-link" href="">
          Disclaimer
        </a>
      </small>
    </div>
  </div>
  <div class="ow-footer__end-strip">
    <div class="ow-container">
      <small class="ow-footer__end-copyright">&#169; Stichting Ozanam ‘s-Gravnhage 2021</small>
    </div>
  </div>
</footer>
