<footer class="oza-footer">
  <div class="oza-container">
    <div class="oza-row">
      <div class="oza-col oza-col--two-thirds">
        <p class="oza-footer__lead">Lorem ipsum dolor sit amet vitae nunc sed dignissisim</p>
      </div>
      <div class="oza-col">
        <h4 class="h5">Navigatie</h4>
        <ul class="oza-footer__menu">
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Home
            </a>
          </li>
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Over ons
            </a>
          </li>
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Doneren
            </a>
          </li>
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Nieuws
            </a>
          </li>
        </ul>
      </div>
      <div class="oza-col">
        <h4 class="h5">Neem contact</h4>
        <ul class="oza-footer__menu">
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Contact
            </a>
          </li>
          <li class="oza-footer__menu-item">
            <a href="" class="oza-footer__menu-link">
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="oza-row">
      <small class="oza-footer__end-item">
        <a class="oza-footer__end-link" href="">
          Privacyverklaring
        </a>
      </small>
      <small class="oza-footer__end-item">
        <a class="oza-footer__end-link" href="">
          Disclaimer
        </a>
      </small>
    </div>
  </div>
  <div class="oza-footer__end-strip">
    <div class="oza-container">
      <small class="oza-footer__end-copyright">&#169; Stichting Ozanam ‘s-Gravnhage 2021</small>
    </div>
  </div>
</footer>
