<header class="oza-header oza-header--viva">
  <div class="ow-container">
    <nav class="oza-topbar">
      <div class="oza-topbar__left">
        <a class="oza-topbar" href="">
          <div class="oza-topbar__logo-container">
            <img class="oza-topbar__logo" src="/assets/images/logo_vivaldi.png" alt="" srcset="">
          </div>
        </a>
      </div>
      <div class="oza-topbar__right">
        <button class="oza-menu__toggle">
          <span class="oza-menu__toggle-text">Menu</span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--top"></span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--middle"></span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--bottom"></span>
        </button>
      </div>
    </nav>
  </div>
</header>
