<header class="oza-header oza-header--viva">
  <div class="ow-container">
    <nav class="oza-topbar">
      <div class="oza-topbar__left">
        <a class="oza-topbar" href="">
          <div class="oza-topbar__logo-container">
            <img class="oza-topbar__logo" src="/assets/images/logo_vivaldi.png" alt="" srcset="">
          </div>
        </a>
      </div>
      <div class="oza-topbar__right">
        <button class="oza-menu__toggle" id="menu-toggle">
          <span id="toggle-text-closed" class="oza-menu__toggle-text oza-menu__toggle-text--closed oza-menu__toggle-text--is-active">Menu</span>
          <span id="toggle-text-opened" class="oza-menu__toggle-text oza-menu__toggle-text--open">Sluiten</span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--top"></span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--middle"></span>
          <span class="oza-menu__toggle-bar oza-menu__toggle-bar--bottom"></span>
        </button>
      </div>
      <div class="oza-menu" id="main-menu">
        <div class="ow-container">
          <ul class="oza-menu-list">
            <li class="oza-menu-item"><a href="" class="oza-menu-link">
              Home
            </a></li>
            <li class="oza-menu-item"><a href="" class="oza-menu-link">
              Over ons
            </a></li>
            <li class="oza-menu-item"><a href="" class="oza-menu-link">
              Doneren
            </a></li>
            <li class="oza-menu-item"><a href="" class="oza-menu-link">
              Nieuws
            </a></li>
            <li class="oza-menu-item"><a href="" class="oza-menu-link">
              Contact
            </a></li>
            <div class="oza-menu__small-items">
              <li class="oza-menu-item"><a href="" class="oza-menu-link oza-menu-link--small">
                <i class="fas fa-arrow-right"></i> &nbsp; Maatje worden
              </a></li>
              <li class="oza-menu-item"><a href="" class="oza-menu-link oza-menu-link--small">
                <i class="fas fa-arrow-right"></i> &nbsp; Ik wil hulp
              </a></li>
            </div>
          </ul> 
        </div>
      </div>
    </nav>
  </div>
</header>
