<div class="jumbotron" style="background-image: 
  linear-gradient(0deg, #00000038 40%, #ffffff44 100%), 
  url('/assets/images/jumbotron_01.jpg');
  ">
    <div class="jumbotron__lead-container">
      <p class="jumbotron__lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
      <a href="" class="link--go-to link--go-to-down link--white">Lees meer</a>

  </div>
</div>
