<div class="oza-news-list">
  <ul class="oza-news-list__list">
    <li class="oza-news-list-item">
      <a class="oza-news-list-link" href="">
        <div class="oza-news-list__metadata">
          <span class="oza-news-list-item__category">
            Pers
          </span>
          <span class="oza-news-list-item__date">
            21 januari 2021
          </span>
        </div>
        <h3 class="oza-news-list-item__title">
          Title example of news
        </h3>
      </a>
    </li>
    <li class="oza-news-list-item">
      <a class="oza-news-list-link" href="">
        <div class="oza-news-list__metadata">
          <span class="oza-news-list-item__category">
            Pers
          </span>
          <span class="oza-news-list-item__date">
            21 januari 2021
          </span>
        </div>
        <h3 class="oza-news-list-item__title">
          Title example of news
        </h3>
      </a>
    </li>
  </ul>
</div>
