<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | Maatjesproject Vivaldi Den Haag</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{>header}}
  {{>jumbotron}}
  <div class="oza-container">
    <div class="oza-row">
      <div class="oza col">

      </div>
      <div class="oza-col">
        <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi illo
           inventore, neque recusandae voluptatem eveniet sit corrupti omnis, eaque
           nostrum mollitia aut necessitatibus blanditiis sed esse reiciendis dolore
           nesciunt ullam.  
        </p>
      </div>
    </div>
  </div>

  <div class="oza-cta">
    <div class="oza-container">
      <div class="oza-row">
        <div class="oza-col">
          <h2 class="oza-cta__title h5">Ik voel mij eenzaam</h2>
          <p>
            Condimentum mattis pellentesque id nibh tortor id aliquet. Netus et
            malesuada fames ac turpis egestas.
          </p>
          <a href="" class="button"><i class="fas fa-arrow-right"></i>
            Ik wil hulp
          </a>
        </div> 

        <div class="oza-col">
          <h2 class="oza-cta__title h5">Ik wil iemand helpen</h2>
          <p>
            Condimentum mattis pellentesque id nibh tortor id aliquet. Netus et
            malesuada fames ac turpis egestas.
          </p>
          <a href="" class="button"><i class="fas fa-arrow-right"></i>
            Ik wil helpen</a>
        </div>
      </div>
    </div>
  </div>

  <div class="oza-container">
    <div class="oza-news-list">
      <div class="oza-row">
        <div class="oza-col">
          <h2 class="oza-news-list__title">Nieuws</h2>
          <a class="link--go-to" href="">Alle nieuwsberichten</a>
        </div>
        <ul class="oza-news-list__list">
          <li class="oza-news-list-item">
            <a class="oza-news-list-link" href="">
              <span class="oza-news-list-item__category">
                Pers
              </span>
              <span class="oza-news-list-item__date">
                21 januari 2021
              </span>
              <h3 class="oza-news-list-item__title">
                Title example of news
              </h3>
            </a>
          </li>
          <li class="oza-news-list-item">
            <a class="oza-news-list-link" href="">
              <span class="oza-news-list-item__category">
                Pers
              </span>
              <span class="oza-news-list-item__date">
                21 januari 2021
              </span>
              <h3 class="oza-news-list-item__title">
                Title example of news
              </h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{{content}}}
  {{>footer}}

  <script src="/js/bundle.js"></script>  
</body>
</html>
