<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | Maatjesproject Vivaldi Den Haag</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="dark-overlay" class="oza-dark-overlay"></div>
  {{>header}}
  {{>jumbotron}}
  <section id="blurb">
    <div class="oza-container">
      <div class="oza-row">
        <div class="oza-col">
            hey
        </div>
        <div class="oza-col oza-col--two-thirds">
          <p class="oza-blurb">
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi illo
             inventore, neque recusandae voluptatem eveniet sit corrupti omnis, eaque
             nostrum mollitia aut necessitatibus blanditiis sed esse reiciendis dolore
             nesciunt ullam.  
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="oza-cta">
    <div class="oza-container">
      <div class="oza-row">
        <div class="oza-col">
          <h2 class="oza-cta__title oza-cta__title--left h5">Ik voel mij eenzaam</h2>
          <p class="oza-cta__text oza-cta__text--left">
            Condimentum mattis pellentesque id nibh tortor id aliquet. Netus et
            malesuada fames ac turpis egestas.
          </p>
          <div class="oza-cta__button-container">
            <a href="" class="button oza-cta__button oza-cta__button--left"><i class="fas fa-arrow-right"></i>
              Ik wil hulp
            </a>
          </div>
        </div> 

        <div class="oza-col">
          <h2 class="oza-cta__title oza-cta__title--right h5">Ik wil iemand helpen</h2>
          <p class="oza-cta__text oza-cta__text--right">
            Condimentum mattis pellentesque id nibh tortor id aliquet. Netus et
            malesuada fames ac turpis egestas.
          </p>
          <div class="oza-cta__button-container">
            <a href="" class="button oza-cta__button oza-cta__button--right"><i class="fas fa-arrow-right"></i>
              Ik wil helpen</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="oza-container">
      <div class="oza-row">
        <div class="oza-col">
          <div class="oza-row">
            <div class="oza-col">
              <h2 class="oza-news-list__title">Nieuws</h2>
              <a class="link--go-to" href="">Alle nieuwsberichten</a>
            </div>
          </div>
          <p class="mb-0-until-desktop">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni harum eaque sint.</p>
        </div>
        <div class="oza-col oza-col--two-thirds">
          {{>newslist}}
        </div>
      </div>
  </div>

  {{{content}}}
  {{>footer}}

  <script src="/js/bundle.js"></script>  
</body>
</html>
