.button {
  display: block;
  text-align: center;
  background-color: $primary;
  text-decoration: none;
  color: $white;
  padding: emRhythm(2) emRhythm(4);
  border-radius: 25px;
  margin-bottom: emRhythm($base-line-multi);
  position: relative;

  @include respond-to('medium') {
    display: inline-block;
    padding-left: 2.5rem;
  }
}

.button i {
  position: absolute;
  left: emRhythm(4);
  top: 50%;
  transform: translateY(-50%);
}
