.oza-footer {
  background-color: $black;
  color: $white;

  &__lead {
    font-weight: 600;
    margin-bottom: 0;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &-link {
      color: $white;
      text-decoration: none;
    } 
  }

  &__end {
    &-item {
      display: block;

      @include respond-to('medium') {
        margin-right: 1rem;
      }
    }

    &-link {
      color: $white;
      text-decoration: none;
    }

    &-strip {
      margin-top: emRhythm(4);
      background-color: $light-black;
    }
  }
}
