.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__lead-container {
    padding-top: emRhythm(4);
    padding-bottom: emRhythm(4);
    height: 100%;

    @extend .oza-container;
  }

  &__lead {
    color: $white;
    margin-bottom: emRhythm(2);
    font-weight: bold;

    @include respond-to('small') {
      @include setType(7, $ms-up2);
    }

    @include respond-to('medium') {
      @include setType(10, $ms-up3);
      max-width: 70%;
    }
  }

  @include respond-to('small') {
    padding-top: emRhythm(20);
    padding-bottom: emRhythm(10);
    margin-bottom: emRhythm(4);
  }
}
