.jumbotron {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__lead-container {
    padding-top: emRhythm(4);
    padding-bottom: emRhythm(4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @extend .oza-container;
  }

  &__lead {
    color: $white;
    margin: auto 0;
    font-weight: bold;
  }
}
