.oza-news-list {
  &__title {
    margin-bottom: emRhythm(2);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: emRhythm(6);
  }

  &-link {
    text-decoration: none;

    @include respond-to('medium') {
      display: flex;
      padding: emRhythm(4) 0;
    }
  }

  &-item {
    padding: emRhythm(3) 0;
    border-bottom: solid 1px $dark-gray;

    &__category {
      display: block;
      color: $primary;
      font-weight: bold;
    }

    &__date {
      display: block;
    }
  }

  &__metadata {
    @include respond-to('medium') {
      margin-right: 5rem;
    }
  }
}
