.oza-blurb {
  @include respond-to('large') {
    @include setType(6, $ms-up1);
  }
}

.oza-cta {
  padding: emRhythm(2) 0;
  background-color: $light-gray;

  &__title {
    margin-bottom: emRhythm(2);
  }

  &__text {
    @include respond-to('medium') {
      &--left {
        padding-left: 30%;
      }

      &--right {
        padding-right: 30%;
      }
    }
  }

  &__title,
  &__text {
    @include respond-to('medium') {
      &--left {
        text-align: right;
      }

      &--right {
        text-align: left;
      }
    }
  }

  &__button-container {
    @include respond-to('medium') {
      display: flex;

      .oza-cta__button {
        &:hover {
          text-decoration: none;
          background-color: $primary-hover;
        }
      }

      .oza-cta__button--left {
        margin-left: auto;
      }
    }
  }
}
